:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* temporary decision */

/* .container {
  outline: 1px dashed red;
}

.ul-portfolio .item {
  outline: 1px solid red;
} */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* container */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* header */

.container.head {
  display: flex;
  align-items: center;
}

.logo.top {
  margin-right: 93px;
}

.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-accent-head {
  color: var(--title-text-color);
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.ul-nav {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.ul-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contact-head:not(:last-child) {
  margin-right: 50px;
  margin-left: auto;
}

.contact-head {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-head:hover,
.contact-head:focus {
  color: var(--accent-color);
}

/* main */

.section-title {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
  text-align: center;
}

.title-h1 {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--title-text-color);
}

.section-advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.ul-advantage {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.advantege-h3 {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantege {
  width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.ul-advantage .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.section-doing {
  padding-bottom: 94px;
}

.title-doing {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.ul-doing {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style-type: none;
}

.ul-doing .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}

.title-team {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.ul-team {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style-type: none;
}

.ul-team .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.ul-team .item {
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  background-color: var(--primary-white-color);
}

.h3-team {
  margin-top: 30px;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.p-team {
  margin-top: 10px;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.logo.bottom {
  display: inline-block;
  margin-bottom: 20px;
}

.logo-accent-footer {
  color: var(--primary-white-color);
}

.ul-contact {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.ul-contact .item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.contact-footer {
  color: var(--contact-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

/* main portfolio */

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.ul-filter {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  justify-content: center;
}

.ul-filter .item:not(:last-child) {
  margin-right: 8px;
}

.btn-filter {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: Roboto, sans-serif;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn-filter:focus,
.btn-filter:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.ul-portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.ul-portfolio > .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.ul-portfolio > .item {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  width: 370px;
}

.figure {
  width: 100%;
}

.h2-portfolio {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.text-portfolio {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.link-portfolio {
  text-decoration: none;
}

.link-portfolio .item {
  padding: 20px 24px;
}
